{
	"printWidth": 80,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": false,
	"bracketSpacing": true,
	"trailingComma": "none",
	"quoteProps": "consistent",
	"bracketSameLine": true,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	]
}
