@import "tailwindcss";

@font-face {
	font-family: "die-a";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/die-grotesk-a-regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "die-a";
	font-weight: 500;
	font-style: normal;
	src: url("/fonts/die-grotesk-a-medium.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "die-d";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/die-grotesk-d-regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "die-d";
	font-weight: 500;
	font-style: normal;
	src: url("/fonts/die-grotesk-d-medium.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "gt-super-book";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/gt-super-book.woff2") format("woff2");
	font-display: swap;
}

@theme {
	--breakpoint-md: 1000px;
	--breakpoint-lg: 1200px;
	--breakpoint-xl: 1400px;

	--color-red: #953012;
	--color-blue: #1968b4;
	--color-blue-dark: #145390;
	--color-driveway: #302d2d;
	--color-cumulus: #fdfff1;
	--color-cta: #00e949;

	--font-die-a: "die-a", sans-serif;
	--font-die-d: "die-d", sans-serif;
	--font-gt-super-book: "gt-super-book", serif;
}

@utility type-headline {
	font-size: 48px;
	line-height: 48px;
}

@utility type-display {
	font-size: 36px;
	line-height: 36px;

	@media (width >= theme(--breakpoint-xl)) {
		font-size: 64px;
		line-height: 64px;
	}
}

@utility type-subhead {
	font-size: 24px;
	line-height: 24px;
}

@utility type-title {
	font-size: 18px;
	line-height: 24px;

	@media (width >= theme(--breakpoint-lg)) {
		font-size: 24px;
		line-height: 24px;
	}
}

@utility type-body {
	font-size: 18px;
	line-height: 24px;
}

@utility type-body-tight {
	font-size: 18px;
	line-height: 21px;
}

@utility type-body-solid {
	font-size: 18px;
	line-height: 18px;
}

@utility type-caption {
	font-size: 14px;
	line-height: 20px;
}

body {
	-webkit-font-smoothing: antialiased;
}

.scrollbar-none {
	scrollbar-width: 0;
}

.scrollbar-none::-webkit-scrollbar {
	display: none;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

::view-transition-old(root) {
	animation: 200ms ease-out fade-out;
}

::view-transition-new(root) {
	animation: 200ms ease-in fade-in;
}
